mlflow.db

# MLflow
mlruns/
mlartifacts/

#Models
models/*.joblib

notebooks/*.ipynb_checkpoints
notebooks/test.py
.ipynb_checkpoints



logs/
*.log

_pycache__/
*.pyc

.venv/
venv/

.DS_Store
Thumbs.db

*.tmp
*.pkl

/data/


